



.btn{
	
	padding:10px 10px;
	border-width:1px;
	border-style:solid;
	border-color: gray;
    border-radius:5px;
}

	
	
.btn-primary{
	background-color:#14fb04;
	color:black;

}
	
.btn-secondary{
	background-color:white;
	color: black;
}
		
.btn-teritary{
	background-color:red;
	color:white;
}
		
